{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<h2>Регистрация</h2>
<form method="post" action="/register">
    <div class="form-group">
        <label for="nickname">Никнейм:</label>
        <input type="text" id="nickname" name="nickname"><br>

        <label for="fio">ФИО:</label>
        <input type="text" id="fio" name="fio"><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br>

        <label for="phone_number">Номер телефона:</label>
        <input type="text" id="phone_number" name="phone_number"><br>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password"><br>

        <label for="repeat_password">Повторите пароль:</label>
        <input type="password" id="repeat_password" name="repeat_password"><br>
        
        <button type="submit">Зарегистрироваться</button>
    </div>
</form>
{% endblock %}